<!DOCTYPE html>
<html lang="en">
    <style>
        h1{
            text-align: center;
            color: rgb(55, 211, 27);
            
        }
        body{
            background-image: url("C:\Users\syedh\Downloads\pic1.jpg");
            background-size: cover;
            background-size: 100% 100%;
        }
        
    </style>
    
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <h1>We democratize energy!</h1>
    <p>Our mission is to bring energy to each and every house</p>

</body>
</html>