<!DOCTYPE html>
<html lang="en">
<style>

.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

    
</style>
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity=
"sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urja</title>
</head>
<body style="background-color: rgb(82, 200, 172)">
    
    <div class="container">
        <div class="vertical-center">
    <button type = "button">
        <a href="{% url 'register' %}">Register</a>
    </button>
    <button type = "button">
        <a href="{% url 'log_in' %}">Login</a>
    </button>
</div>
</div>
</body>
</html>